.content-con {
    min-height: 80vh;
    margin: 3.5rem auto 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(115, 117, 118, 0.295);
}

.content-con p {
    font-size: 2rem;
}

@media screen and (max-width: 575px) {
    .content-con p {
        font-size: 1.5rem;
    }
}